/* Estilos generales */
body {
  font-family: 'Helvetica', sans-serif;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Centrar el texto */
}

th {
  background-color: #ffffff; /* Color en la parte inferior */
}

td {
  background-color: #f2f2f2; /* Color en la parte superior */
}